@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700');
@import url('https://fonts.googleapis.com/css?family=Andika&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Oswald');
html,body{
	margin: 0px;
	padding: 0px;
	font-family: Yanone Kaffeesatz;
}
a{
	font-family: Yanone Kaffeesatz;
	text-decoration: none;
}
/*--------------------------------------------  ШАПКА  -------------------------------------------- */
#heads{
	float: left;
	height: 110px;
	background-color: white;
	width: 100%;
	box-shadow: 0px 4px 5px black;
}
#zwest{
	float: left;
	margin-left: 3%;
	margin-top: 1.31%;
	margin-bottom: 1%;
	font-size: 4em;
	color:black;
	font-family: Yanone Kaffeesatz;
	font-weight: 700;
	text-decoration: none;
}
#button123{
	float: right;
	text-align: center;
	color:black;
	font-size: 2em;
	width: 150px;
	margin-top: 30px;
	text-decoration: none;
	transition: all.3s ease;
	padding-top: 10px;
	padding-bottom: 10px;
}
#button123:hover{
	text-shadow:  0 0 2px black;
	margin-top: 20px;
	background-color: black;
	color: white;
	font-size: 3em;
}
#logop{
	margin-top: 10px;
}
/*--------------------------------------------  ШАПКА END --------------------------------------------  */


/*-------------------------------------------- INDEX --------------------------------------------*/
#sc1{
	height: 2000px;
	width: 100%;
	background-repeat: no-repeat;
	background-image: url(../img/bg2.jpg);
	background-attachment: fixed;
	background-size: 100%;
}
#txt{
	float: left;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	color: black;
	font-size: 2.5em;
	background-color: #FFFFFFA8;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	line-height: 50px;
}
/* INDEX END */



/* -------------------------------------------- SHOP --------------------------------------------*/

#sop{
	float: left;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: 40%;
	text-align: center;
	font-size: 3em;
	font-family: Yanone Kaffeesatz;
	background-color: #FFFFFFFF;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 15px;
	border-radius: 50px;
}
#simg{

}
#by{
	width: 100%;
	background-image: url(https://pp.userapi.com/c850216/v850216713/12196d/rXlt5bUlhfw.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#stxt{
	text-align: right;
}
#Opi{
	text-decoration:underline;
	margin-left: 10px;
	font-weight: bold;
	font-size: 1.5em;
}
#Std{
	
	float: left;
	width: 40%;
	height: auto;
	color: black;
	font-weight: bolder;
	margin-top: 50px;
	margin-right: 20px;
	margin-left: 20px;
	box-shadow: 0px 0px 10px black;
	background-color: #FFFFFFAD;
	padding-left: 10px;
	padding-right: 70px;
	font-family: Andika;
	font-size: 1.3em;
	line-height: 25px;	
}
#Sa1{
	float: right;
	font-size: 1.5em;
	font-weight: normal;
	color: white;
	background-color: #000000C4;
	transition: all.2s ease;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
#Sa1:hover{
	background-color: #000000FF;
}
#SName{
	background-color: #FFFFFFFF;
	line-height: 33px;
	text-align: center;
}
#SStd{
	vertical-align: top;
}
#Simg{background-color: ;
}
/* -------------------------------------------- SHOP END -------------------------------------------- */

/*-------------------------------------------- ARTICLE --------------------------------------------*/
#bacground4{ 			/* ФОН */
	width: 100%;
	background-image: url(https://pp.userapi.com/c845419/v845419371/1e4cce/6JYo4hyl9Ng.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}


#tubl{
	margin-top: 50px;
}
/* -------------------------------------------- ARTICLE END --------------------------------------------*/
/* -------------------------------------------- ARTICLE 1-6 --------------------------------------------*/
#bacg1{
	float: left;
	width: 100%;
	background-image: url(https://pp.userapi.com/c845419/v845419371/1e4ca8/P0zfh7fltAk.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#bacg2{
	float: left;
	width: 100%;
	background-image: url(https://pp.userapi.com/c845419/v845419371/1e4ca8/P0zfh7fltAk.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#bacg3{
	float: left;
	width: 100%;
	background-image: url(https://pp.userapi.com/c845419/v845419371/1e4ca8/P0zfh7fltAk.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#bacg4{
	float: left;
	width: 100%;
	background-image: url(https://pp.userapi.com/c845419/v845419371/1e4ca8/P0zfh7fltAk.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#bacg5{
	float: left;
	width: 100%;
	background-image: url(https://pp.userapi.com/c845419/v845419371/1e4ca8/P0zfh7fltAk.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#bacg6{
	width: 100%;
	background-image: url(https://pp.userapi.com/c845419/v845419371/1e4ca8/P0zfh7fltAk.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#bacg7{
	float: left;
	width: 100%;
	background-image: url(https://pp.userapi.com/c845419/v845419371/1e4ca8/P0zfh7fltAk.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#bacg8{
	float: left;
	width: 100%;
	background-image: url(https://pp.userapi.com/c845419/v845419371/1e4ca8/P0zfh7fltAk.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#arttxt{
	float: left;
	margin-left: 2%;
	margin-top: 2%;
	margin-right: 2%;
	font-size: 1.3em;
	text-shadow: 1px 2px 0px white ;
	font-family: Oswald;
	font-weight: bold;
}
/* -------------------------------------------- ARTICLE 1-6 END --------------------------------------------*/
/* --------------------------------------------       MOVE       --------------------------------------------*/
#moves{
	float: left;
	width: 100%;
	background-image: url(http://www.kartinki24.ru/uploads/gallery/main/196/kartinki24_ru_forest_78.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#movtable{
	float: left;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	color: white;
	font-family: Oswald;
	line-height: 30px;
	text-shadow: 1px 1px 2px silver;
}
#movtr{
	float: left;
	padding-bottom: 50px;
	vertical-align: top;
	border-top: solid 5px white;
}
#movtd{
	width: 350px;
}
#movtdtxt{
	text-align: left;
	vertical-align: top;
	font-size: 1.5em;
}


/* --------------------------------------------       MOVE       --------------------------------------------*/