@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700');
@import url('https://fonts.googleapis.com/css?family=Andika&subset=cyrillic');
html,body{
	margin: 0px;
	padding: 0px;
	font-family: Yanone Kaffeesatz;
}
a{
	font-family: Yanone Kaffeesatz;
	text-decoration: none;
}
/*--------------------------------------------  ШАПКА  -------------------------------------------- */
#heads{
	float: left;
	height: 110px;
	background-color: white;
	width: 100%;
	box-shadow: 0px 4px 5px black;
}
#zwest{
	float: left;
	margin-left: 3%;
	margin-top: 1.31%;
	margin-bottom: 1%;
	font-size: 4em;
	color:black;
	font-family: Yanone Kaffeesatz;
	font-weight: 700;
	text-decoration: none;
}
#button123{
	float: right;
	text-align: center;
	color:black;
	font-size: 2em;
	width: 150px;
	margin-top: 30px;
	text-decoration: none;
	transition: all.3s ease;
	padding-top: 10px;
	padding-bottom: 10px;
}
#button123:hover{
	text-shadow:  0 0 2px black;
	margin-top: 20px;
	background-color: black;
	color: white;
	font-size: 3em;
}
#logop{
	margin-top: 10px;
}
/*--------------------------------------------  ШАПКА END --------------------------------------------  */


/*-------------------------------------------- INDEX --------------------------------------------*/
#sc1{
	height: 2000px;
	width: 100%;
	background-repeat: no-repeat;
	background-image: url(../img/bg2.jpg);
	background-attachment: fixed;
	background-size: 100%;
}
#txt{
	float: left;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	color: black;
	font-size: 2.5em;
	background-color: #FFFFFFA8;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	line-height: 50px;
}
/* INDEX END */



/* -------------------------------------------- SHOP --------------------------------------------*/

#sop{
	float: left;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: 40%;
	text-align: center;
	font-size: 3em;
	font-family: Yanone Kaffeesatz;
	background-color: #FFFFFFFF;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 15px;
	border-radius: 50px;
}
#simg{

}
#by{
	width: 100%;
	background-image: url(https://pp.userapi.com/c850216/v850216713/12196d/rXlt5bUlhfw.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#stxt{
	text-align: right;
}
#Opi{
	text-decoration:underline;
	margin-left: 40px;
	font-weight: bold;
	font-size: 1.5em;
}
#Std{
	margin-top: 50px;
	float: left;
	width:45%;
	height: auto;
	color: black;
	font-weight: bolder;
	margin-right: 10%;
	box-shadow: 0px 0px 10px black;
	background-color: #FFFFFFAD;
	padding-left: 10px;
	font-family: Andika;
	font-size: 1.3em;
	line-height: 25px;
	margin-right: 50px;
}
#Sa1{
	float: right;
	font-size: 1.5em;
	font-weight: normal;
	color: white;
	background-color: #000000C4;
	transition: all.2s ease;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
#Sa1:hover{
	background-color: #000000FF;
}
#SName{
	background-color: #FFFFFFFF;
	line-height: 33px;
	text-align: center;
}
#SStd{
	vertical-align: top;
}
#Simg{
	background-color: white;
}
/* -------------------------------------------- SHOP END -------------------------------------------- */

/*-------------------------------------------- ARTICLE --------------------------------------------*/
#article{
	float: left;

}
#bacground4{  				/* ФОН */
	width: 100%;
	height: 1500px;
	background-image: url(../img/bg3.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}

#tubl{
	margin-top: 50px;
	margin-left: 5%;
}
/* -------------------------------------------- ARTICLE END --------------------------------------------*/
/* -------------------------------------------- ARTICLE 1-6 --------------------------------------------*/
#bacg1
{
	width: 100%;
	height: 1500px;
	background-image: url(../img/bg3.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#bacg2
{
	width: 100%;
	height: 1500px;
	background-image: url(../img/bg3.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#bacg3
{
	width: 100%;
	height: 1500px;
	background-image: url(../img/bg3.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#bacg4
{
	width: 100%;
	height: 1500px;
	background-image: url(../img/bg3.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#bacg5
{
	width: 100%;
	height: 1500px;
	background-image: url(../img/bg3.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#bacg6
{
	width: 100%;
	height: 1500px;
	background-image: url(../img/bg3.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#bacg7
{
	width: 100%;
	height: 1500px;
	background-image: url(../img/bg3.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}
#bacg8
{
	width: 100%;
	height: 1500px;
	background-image: url(../img/bg3.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100%;
}

/* -------------------------------------------- ARTICLE 1-6 END --------------------------------------------*/