@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700');
html,body{
	margin: 0px;
	padding: 0px;
	font-family: Yanone Kaffeesatz;
}
#heads{
	background-color: white;
	width: 100%;
	box-shadow: 20px 20px 2px black;
}
#sc1{
	float: left;
	width: 100%;
}
#zwest{
	float: left;
	margin-left: 3%;
	margin-top: 1.31%;
	margin-bottom: 1%;
	font-size: 4em;
	color:black;
	font-family: Yanone Kaffeesatz;
	font-weight: 700;
	text-decoration: none;
}
#button123{
	color:black;
	font-size: 2em;
	margin-top: 2%;
	margin-right:2%;
	float: right;
	text-decoration: none;
}
#sop{
	float: left;
	margin-top: 20px;
	margin-left: 45%;
	font-size: 3em;
	font-family: Yanone Kaffeesatz;
}
#tab1{
	margin-left: 10px;
	margin-right:10px;
	margin-top: 20px;
}
#by{
	float: left;
	background-image: url(img/bg1.jpg);
	width: 100%;
}